# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=booking_system
DB_USER=postgres
DB_PASSWORD=Miras2005

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672

# Server Configuration
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=info
